canvas {
  max-width: 100%;
  min-width: 100%;
  border: 1px solid #e1e1e1;
  background-color: #f1f1f1;
}

canvas, img {
  max-width: 100%;
  border-radius: 4px;
}

input[type="number"] {
  width: 12em;
}
